<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estatistica.css">

    <!-- fontes das letras -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- fontes do bootstrap -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap JS (necessário para o modal funcionar corretamente) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <main>
        <header>
            <div class="wrapper"> <!-- Novo wrapper para separar o menu -->

                <div class="menu-desktop">
                    <button onclick="abrirmenu()" id="btn-menu">
                        <span class="linha"></span>
                        <span class="linha"></span>
                        <span class="linha"></span>
                    </button>
                    <nav>
                        <ul>
                            <li><a href="#" onclick="voltarPaginaAnterior(); return false;">Início</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                        </ul>
                    </nav>
                </div>


                <div class="menu-mobile" id="menu-mobile">
                    <nav>
                        <ul>
                            <li><a href="#" onclick="voltarPaginaAnterior(); return false;">Início</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">home</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="container">
                    <div class="row mb-4 text-center">
                        <div class="col-md-3">
                          <div class="card bg-primary text-white p-3 shadow rounded-3">
                            <div>📊 <strong>Total de Ocorrências</strong></div>
                            <div class="fs-4 fw-bold">120</div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card bg-success text-white p-3 shadow rounded-3">
                            <div>📅 <strong>Neste Mês</strong></div>
                            <div class="fs-4 fw-bold">12</div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card bg-warning text-dark p-3 shadow rounded-3">
                            <div>🚨 <strong>Alunos em Alerta</strong></div>
                            <div class="fs-4 fw-bold">8</div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card bg-danger text-white p-3 shadow rounded-3">
                            <div>👨‍🏫 <strong>Professores Envolvidos</strong></div>
                            <div class="fs-4 fw-bold">5</div>
                          </div>
                        </div>
                      </div>
                      
                    <div class="caixas">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="graficoOcorrencias">
                                    <h3>Tipos Ocorrencias mais frequentes</h3>
                                    <div class="grafico-frame">
                                        <iframe src="../html/graficos/graficoTipoOcorrencia.html"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            <div class="graficoOcorrencias">
                                
                                <h3>Ocorrências por Mês</h3>
                                <div class="grafico-frame">
                                    <iframe src="../html/graficos/graficoOcorrenciasPorMes.html"></iframe>
                                </div>
                            </div>
                             </div>
                        </div>
                            <div class="graficoOcorrencias">
                                <h3>Alunos em Alerta</h3>
                                <div class="grafico-frame">
                                    <iframe src="../html/graficos/graficoAlunoProblematico.html"></iframe>
                                </div>
                            </div>
                       
                        <div class="graficoOcorrencias">
                            <h3>Turmas mais probelmaticas </h3>
                            <div class="grafico-frame">
                                <iframe src="../html/graficos/turmasProblematicas.html"></iframe>
                            </div>
                        </div>

                        <div class="graficoOcorrencias">
                            <h3>Professor que mais gerou ocorrencias</h3>
                            <div class="grafico-frame">
                                <iframe src="../html/graficos/graficoProfessorAtivos.html"></iframe>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </header>
    </main>


    <script>



        /*codigo para o menu do site */
        const menuDiv = document.getElementById("menu-mobile")
        const btnAnimar = document.getElementById("btn-menu")
        const forms = document.getElementById("container-wrapper")



        /*
                async function carregarRelatorio() {
            try {
                const uri_funcionarios_relatorios = "/funcionarios/relatorios/buscar";

                fetch(uri_funcionarios_relatorios, {
                    method: "GET",
                    headers: {

                        "Accept": "application/json",
                        "Content-Type": "application/json",
                        "Authorization": 'Bearer ' + token
                    }
                }).then((response) => {
                    return response.json();
                }).then((data) => {

                    if (data.status && data.relatorio) {
                        const relatorio = data.relatorio;

                        const mediaSalarial = parseFloat(relatorio.media_salarial_geral).toLocaleString('pt-BR', {
                            style: 'currency',
                            currency: 'BRL'
                        });

                        document.querySelector(".info-salario").textContent = mediaSalarial;
                        document.querySelector(".info-qtd-funcionarios").textContent = relatorio.total_funcionarios;
                        document.querySelector(".info-departamentos").textContent = relatorio.distribuicao_salarial_departamento.length;
                        document.querySelector(".info-orcamento").textContent = relatorio.orcamento_total;

                        const grafico1 = document.querySelector('iframe[src$="grafico.html"]');
                        const grafico2 = document.querySelector('iframe[src$="grafico2.html"]');

                        const payload = {
                            tipo: "dadosRelatorio",
                            dados: relatorio
                        };

                        grafico1.contentWindow.postMessage(payload, "*");
                        grafico2.contentWindow.postMessage(payload, "*");
                    } else {
                        console.error("Erro ao obter relatório:", data.msg);
                    }

                })
            } catch (erro) {
                console.error("Erro na requisição do relatório:", erro);
            }
        }

        window.addEventListener("DOMContentLoaded", () => {
            carregarRelatorio();
        })
            */
        btnAnimar.addEventListener('click', animarMenu)
        function animarMenu() {
            menuDiv.classList.toggle('abrir')
            btnAnimar.classList.toggle('ativo')

            forms.style.display = "none";

            if (menuDiv.classList.contains('abrir')) {
                forms.style.display = "none"; // Esconde o formulário
            } else {
                forms.style.display = "flex"; // Mostra o formulário novamente
            }
        }




    </script>

</body>

</html>